@model ChangePasswordDTO

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/__Account_Layout.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a asp-controller="Home" asp-action="Index"><b>Shipping </b>Demo</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Change Password</p>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Current Password" asp-for="CurrentPassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="New Password" asp-for="NewPassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>




