
@{
    ViewData["Title"] = "RegistrationSuccessful";
    Layout = "~/Views/Shared/__Account_Layout.cshtml";
}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Shipping</b>Demo</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Registertion Successful please check your email to Confirm Account, then Click <a asp-controller="account" asp-action="login">here</a></p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

