
@{
    ViewData["Title"] = "SubscriptionExpired";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubscriptionExpired</title>
</head>
<body>
    <h2>Your subscription has expired.</h2>
    <p>Please renew your subscription to continue using the application.</p>

</body>
</html>

